<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Mostrar</servlet-name>
        <servlet-class>controlador.Mostrar_MA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recibir</servlet-name>
        <servlet-class>controlador.Recibir_MA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editar1</servlet-name>
        <servlet-class>controlador.Editar_KR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Actualizar</servlet-name>
        <servlet-class>controlador.Actualizar_KR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar</servlet-name>
        <servlet-class>controlador.Eliminar_KR</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Mostrar</servlet-name>
        <url-pattern>/mostrar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recibir</servlet-name>
        <url-pattern>/recibir.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editar1</servlet-name>
        <url-pattern>/editar1.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Actualizar</servlet-name>
        <url-pattern>/actualizar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar</servlet-name>
        <url-pattern>/eliminar.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
